:root {
    --slate-900: #1F314F;
    --slate-500: #68778D;
    --slate-300: #D5E1EF;
    --white: #FFFFFF;
}

body {
    background-color: var(--slate-300);
    margin: 0;
    padding: 0;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: "Outfit", sans-serif;
}

#container {
    background-color: var(--white);

    text-align: center;

    width: 320px;
    height: auto;

    border-radius: 10px;

    padding: 16px 16px 20px 16px;
}

#container img {
    width: 288px;
    height: 288px;

    border-radius: 10px;
}

#title {
    font-size: 22px;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: 0;

    padding: 0 15px;
}

#sub-title {
    font-size: 15px;
    font-weight: normal;
    line-height: 140%;
    letter-spacing: 0.2px;

    padding: 0 25px;
}